git+https://github.com/openforis/earthengine-api.git@v0.1.270#egg=earthengine-api&subdirectory=python
git+https://github.com/12rambau/bfast.git#egg=bfast
geopandas==0.10.2
godale==0.3
numpy==1.22.3
pandas==1.4.2
requests==2.22.0
retry==0.9.2
scipy==1.8.0
tensorflow==2.7.0
sepal-ui==2.8.0
